
<section class="contact" id="contact">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12">
				<ul class="footer-fonts">
					<li><a href="https://www.facebook.com/karaiglug/"><i class="fa fa-facebook" aria-hidden="true"></i>
					</a></li>
						<li><a href="https://gitlab.com/KaraiGLUG/karaiglug.git"><i class="fa fa-gitlab" aria-hidden="true"></i>
					</a></li>
						<li><a href="mailto:karaiglug@gmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i>
					</a></li>
				</ul>
				<ul class="copyright">
						<li><span> KARAIGLUG. All wrongs reserved</span>.<a href="http://copyleft.org/" target="_blank">Copyleft</a></li>
						<li><span>Icons: </span> <a href="http://fontawesome.io/">Font awesome</a></li>
				</ul>
			</div>
		</div>
	</div>
</section>
