<% provide(:title, "Home") %>

<section class="home" id="home"  data-anchor="home">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-sm-12">


				<%= image_tag('/assets/karai.png') %>
				<hr class="line"/>
				<p>
					KaraiGLUG is a community organization located in Karaikudi, affiliated to
					<a href="http://fsftn.org">FSFTN</a>
				</p>
     		</div>
		</div>
	</div>

    <div class="nav hidden-sm hidden-xs">
	   <ul class="menu">
		   <li>
          <a href="#home" class="active">Home</a>
		      <a href="#aug">About-us</a>
          <a  href="#gallery">Gallery</a>
		      <a href="#contact">Contact-us</a>
          <%= link_to 'Blog', posts_path %>
       </li>
	   </ul>
    </div>


    <div class="navi hidden-md hidden-lg">
      <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="#home">Home</a>
        <%= link_to 'Blog', posts_path %>
        <a href="#events">Events</a>
        <a href="#aug">community project</a>
        <a href="#contact">Contact-us</a>
      </div>

      <div id="main">
        <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; </span>
      </div>
  </div>
</div>
</section>

<!-- Home page end -->

<section class="events" id="events">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12 col-xs-12">
                <h3>Our Recent Events </h3>
                <hr class="line" / >
                <ul class="e-list">
                   <div class="row">
                    <div class="col-md-4 col-lg-4 col-sm-4">
                	   <a href="#">
                	    <li>
                	     <h5><span class="fa fa-calendar-o " aria-hidden="true"></span>
                          AUG 11-15 2k17</h5>
                	     <h4>Showcase Our Dream Project LDL</h4>
                	     <br/><br/><br/><br/>
                	     <hr class="hr" />
                         <p>Karai-glug Event</p>
                       </li>
                       </a>
                      </div>
                      <div class="col-md-4 col-lg-4 col-sm-4">
                	      <a href="#">
                	       <li>
                	       <h5><span class="fa fa-calendar-o" aria-hidden="true"></span>Aug 30 2k17</h5>
                	       <h4>LDL Inauguration In Govt.school</h4>
                	       <br/><br/><br/><br/>
                	       <hr class="hr" />
                         <p>Karai-glug Event</p>
                	       </li>
                	      </a>
                      </div>
                      <div class="col-md-4 col-lg-4 col-sm-4">
                       <a href="#">
                       <li>
                       <h5><span class="fa fa-calendar-o" aria-hidden="true"></span>Oct 29 2k17</h5>
                       <h4>Ruby,Git & Gitlab meet at KaraiGLUG</h4>
                       <br/><br/><br/><br/>
                       <hr class="hr" />
                         <p>Karai-glug Event</p>
                       </li>
                       </a>
                      </div>
                    </div>
                </ul>
			</div>
		</div>
	</div>
</section>
<!-- Events end -->

<section class="aug" id="aug">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12 col-xs-12 ">
				<h3>About-us</h3>
				<hr class="line"/>
				<p>
					KaraiGLUG or Karaikudi GNU/Linux Users Group located in Karaikudi, Tamil nadu, is part of <a href="http://fsftn.org">FSFTN</a>. Its an initiative to propogate the ideology of free software and to popularize the usage of the free software and open hardware. Since 2015, KaraiGLUG has conducted many workshops,talks and seminors in colleges and schools in Karaikudi,Pudukottai,Trichy, etc. KaraiGLUG is also associated with socially useful projects such as Project Bodhi, Libre Digital Library and have digitized many Libraries in Karaikudi for free of cost.
				</p>
				<a href="/assets/ldl.png" data-gall="gall-frame" data-type="ajax"> <%= image_tag("/assets/ldl.png",  :class => "img") %>
               </a>
		</div>
	</div>
   </div>
</section>

<div class="aug30">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12 col-xs-12 ">
				<h3>LDL Installation in govt.school</h3>
				<hr class="line"/>
				<p>
			   <span>Dear all,Greetings..</span><br/> we are happy to inform that, the <span>inaugural function of Libre Digital Library in Ramanathan Chettiar Municipal High School</span> will be held on tomorrow (30.08.2017). For this event, the Principal of RMHS invited District Chief Educational Officer (CEO). He will open the LDL setup and Smart Class room. The smart class room already linked with LDL. We hope that, this event may help us to deploy LDL in Govt Schools at large scale.  Join with us for this great event.

			  <br/><br/>
            </p>
            <a href="/assets/back.jpg">
             <%= image_tag('/assets/back.jpg') %>
            </a>
    		</div>
	  </div>
   </div>
</div>


<div class="gallery" id="gallery">
  <div class="container">
  <div class="row">
  	<div class="col-sm-12 col-xs-12">
  		 <h4>Photo Gallery</h4>
    <hr class="line" />
    <p>Some captured moments from event.</p>
      <div class="images">
        <a href="/assets/4.jpg">
    		<%= image_tag("/assets/4.jpg") %>
    	</a>

    	<a href="/assets/6.jpg">
    		<%= image_tag("/assets/6.jpg") %>
    	</a>
    	<a href="/assets/7.jpg">
    		<%= image_tag("/assets/7.jpg") %>
    	</a>
    	<a href="/assets/8.jpg">
    		<%= image_tag("/assets/8.jpg") %>
    	</a>
    	<a href="/assets/back.jpg">
    		<%= image_tag("/assets/back.jpg") %>
    	</a>
    	<a href="/assets/16.jpg">
    		<%= image_tag("/assets/16.jpg") %>
    	</a>
    	<a href="/assets/12.jpg">
    		<%= image_tag("/assets/12.jpg") %>
    	</a>
    	<a href="/assets/15.jpg">
    		<%= image_tag("/assets/15.jpg") %>
    	</a>

     </div>
 </div>
</div>
</div>
</div>

<%= render 'footer' %>
