<% provide(:title, "New-Post") %>
<%= render 'nav' %>
<script type="text/javascript">
  $('nav button').on('click',function(){
       $('#myNavbar').toggle();
    })
</script>


<div class="new-post">
	<div class="container">
	  <div class="row">
	    <div class="col-sm-12 col-md-12 col-lg-9 col-sm-9">
	    	<h1>New Post</h1>

			<%= render 'form', post: @post %>

			<%= link_to 'Back', posts_path %>
	    </div>

	   </div>
	</div>
</div>


<%= render 'welcome/footer' %>
