<% provide(:title, "Post") %>
<%= render 'nav' %>
<div class="post-show">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12 col-xs-12 col-md-9 col-lg-9">
              <div class="para">

				<p id="notice"><%= notice %></p>
                <% if @post.image? %>
				<%= image_tag @post.image.url %>
				<% end -%>
				<h5>
  					<span class="fa fa-clock-o" aria-hidden="true"></span><strong><%= @post.date %>
					</strong>
				</h5>

				<h3>
  					<strong><%= @post.title.capitalize %></strong>
				</h3>

				<p>
				   <% content = sanitize @post.content %>
  					<%= kramdown content %>
				</p>
                <% if current_user %>
				<%= link_to 'Edit', edit_post_path(@post) %> |
				<% end %>
				<%= link_to 'Back', posts_path %>
				<hr/>
					<u><h4><strong>Comments</strong></h4></u>
				<% if @post.comments.any? %>
					<%= render @post.comments %>
				<% else %>
                    <p> NO commnets yet</p>
        <% end -%>
				<u><h5><strong>Add a comment:</strong></h5></u>
				<%= render 'comments/form' %>

             </div>
			</div>
		</div>
	</div>
</div>

<%= render 'welcome/footer' %>

<script type="text/javascript">
  $('nav button').on('click',function(){
       $('#myNavbar').toggle();
    })
</script>
