@import 'var';

.events{
	position:relative;
	background-image:url('/assets/event.jpg');
	background-size:100%;
  @media screen and(max-width:768px){
   background:white;
   background-repeat: no-repeat;
   background-attachment: fixed;
  }
	h3{
	  font-family:$f1;
	  color:white;
	  text-align:center;
	  margin-top:5%;
	  font-size:2em;
	  font-weight:bold;
    @media screen and(max-width:768px){
    color:$back;
    }
	}
	.line{
	  border:0.5px solid white;
	  width:10%;
	  margin-left:45%;
    @media screen and(max-width:768px){
     border-color:$back;
    }
	}
	.e-list{
	   margin-top:7%;
	   list-style:none;
      @media screen and(min-width:1370px)and(max-width:1984px){
            margin-left:25%;
            padding:2%;
      }
	  a{
         text-decoration:none;
         &:hover{
          backdround:none;
         }
	  li{
	      background:rgba(255, 255, 255,0.7);
          display:inline-block;
          margin-left:3%;
          padding:3%;
          @media screen and(max-width:768px){
           background:rgba(0,0,0,0.7);
          }
          &:hover{
          backdround:none;
         }
          @media screen and(max-width:480px){
            margin-left:3%;
            margin-right:3%;
            margin-bottom:15%;

          }
          @media screen and(min-width:481px)and(max-width:768px){
            margin-left:20%;
            margin-right:10%;
            margin-bottom:15%;
          }
          @media screen and(min-width:769px)and(max-width:899px){
            margin-left:0px;
            margin-right:5%;
            padding:2%;
          }
           @media screen and(min-width:900px)and(max-width:984px){
            margin-left:0px;
            margin-right:10%;
            padding:2%;
          }
          @media screen and(min-width:1370px)and(max-width:1984px){
            margin-left:0;
            margin-right:20%;
            padding:2%;
          }

          h5{
             @extend h3;
             color:$back !important;
             font-family:$f2;
             span{
              margin-right:30px;
              color:black;
             }
          }
          h4{
					  max-width: 100%;
            @extend h5;
            font-style:bold !important;
            font-size:1.5em !important;
            margin-top:150px;
             @media screen and(max-width:480px){

            margin-top:35%;
            }
           &:hover{
           background:none;
             }
          }
          .hr{
             border:0;
             height: 1px;
             background: #333;
             background-image: linear-gradient(to right, #ccc, #333, #ccc);

          }
          p{
           @extend h5;
           color:black !important;
            @media screen and(max-width:480px){
             margin-top:15%;
             font-family:$f7;
             font-weight:bold;
            }
            &:hover{
             backdround:none;
            }
          }
         }
	   }
     .active{
       background:rgba(76,175,80,0.7);
       &:hover{
        background:rgba(229,57,53,0.7);
       }
       h5{
          color:white!important;
       }
       h4{
        @extend h5;
       }
     }
	}
}
