// Place all the styles related to the archives controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'var';
.post-archive{
    position:relative;
     @media screen and(max-width:480px){
     margin-top:15%;
   }
	h3{
	 margin-top:7%;
	 margin-left:12%;
	 font-size:5em;
	 font-family:$f1;
   @media screen and(max-width:480px){
    font-size:2.5em;
   }
	}
	 ul{
	  margin-top:3%;
	  list-style:none;
	  li{
        margin-left:10%;
        h4{
          font-family:$f2;
          color:$back;
          font-size:2em;
          font-weight:bold;
           @media screen and(max-width:480px){
            font-size:1.5em;
          }
        }
        p{
          font-family:$f5;
          font-size:2em;
          margin-top:2%;
          margin-left:2%;
           @media screen and(max-width:480px){
          font-size:1em;
          }
        }
        .border{
         border:1px solid $back;
         width:50%;
         margin-left:0px;
        }
        a{
         &:hover{
          background:none;
         }
        }
	   }
	 }
}
