@import 'var';
.login{
	margin-top:5%;
	margin-left:10%;
	margin-right: 10%;
	border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px 8px 10px #888888;
	@media screen and(max-width:480px){
	 margin-top:20%;
	 border: 0;
	 box-shadow: none;
	}
	@media screen and(min-width:480px)and(max-width:764px){
	 margin-top:15%;
	 border: 0;
	 box-shadow: none;
	}
	.image{
		margin-left: 40%;
		margin-bottom: 5%;
		margin-top: 5%;
		img{
		  width: 100px;
		}
	}
	.submit{
	 	margin-left:20%;
		margin-right: 20%;
	 	border: 0;
		border-bottom: solid 2px #00FA9A !important;
		display: block;
		outline: 0;
		padding: 1em 1em 1em 1em;
		text-decoration: none;
		width: 50%;
		font-family:$f1;
		color:$back;
		font-size:1.5em;
		font-weight:bold;
		@media screen and(max-width:480px){
			width:80%;
		}
	}
	input[type="password"],
	input[type="email"]
	 {
		background-color: #FFF;
		margin-left:20%;
		margin-right: 20%;
	  border: 0;
		border-bottom: solid 2px #00FA9A !important;
		color: inherit;
		display: block;
		outline: 0;
		padding: 1em 1em 1em 1em;
		text-decoration: none;
		width: 50%;
		margin-bottom:2em;
		font-family:$f3;
		color:$back;
		font-size:1.5em;
		font-weight:bold;
		@media screen and(max-width:480px){
			width:80%;
		}
	}
	input[type=checkbox]{
		margin-left: 20%;
	}
}
