// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'var';
@import 'show';
@import 'postnew';
.navbar{
   ul{
     li{
       a{
         font-family:$f1;
         color:$back;
         font-size:1.5em;
       }
     }
   }
}
.post{
  margin-top:5%;
  margin-left:15%;
  @media screen and(max-width:767px){
    margin-top:15%;
    margin-left:5%;
  }
  .page{
    margin-left:4%;
  }
  .list{
    list-style:none;
   li{
      margin-bottom:60px;
    h5{
      color:black;
       span{
         color:red;
         font-size:2em;
         margin-right:3%;
       }
    }
    p{
     font-family:$f5;
     font-size:1.75em;
     line-height:2em;
    }

    a{
     font-fmily:$f1;
     margin-right:5%;
     font-size:1em;
     color: red;
     &:hover{
      text-decoration:none;
      background:none;
      border-color:black;
      color:$back;
     }

    }
   }
  }
}
