<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %> </title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="shortcut icon" href="/assets/favicon.ico" type="favicon/ico" />
   <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash|Cookie|Cormorant+Garamond|Lobster+Two|Rokkitt" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Balthazar|Scheherazade" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Poiret+One|Questrial" rel="stylesheet">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js" type="text/javascript"></script>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="description" content="Karaiglug is a community organization affiliated to fsftn ">
    <meta name="keywords" content="karaiglug,fsftn,free software">
  </head>

  <body>
    <%= yield %>
    <%= javascript_include_tag 'jquery', 'data-turbolinks-track': 'reload'%>
    <%= javascript_include_tag 'index', 'data-turbolinks-track': 'reload'%>
  </body>
</html>
